.destinations {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
}

.destinations h1 {
  padding: 1rem;
}
.img-container {
  --gap: 1rem;
  --num-cols: 5;
  --row-height: 300px;

  display: grid;
  /* 表示创建5个宽度相同的列 */
  grid-template-columns: repeat(var(--num-cols), 1fr); 
  margin: auto;
  padding: 1rem 0;
  gap: var(--gap);
}

.destinations img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* span表示跨越，即左右边框之间跨越多少个网格 */
.span-3 {
  grid-column: span 3;
}

/* span表示跨越，即上下边框之间跨越多少个网格 */
.image-grid-row-2 {
  grid-row: span 2;
}

@media screen and (max-width: 940px) {
  .img-container {
    --num-cols: 2;
    --row-height: 200px;
    --gap: .5rem;
  }

  .span-3 {
    grid-column: span 2;
  }
}